@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Eczar');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background: url(wood_tex.jpg);
}

#bookInfo:hover, #newForm:hover {
	animation: size 1s infinite;
	border: 5px 5px 5px black;
}

@keyframes size {
	0% { width: 500px; }
	50% { width: 505px; }
	100% { width: 500px; }
}

#bookInfo, #newForm {
	z-index: 100;
	visibility: hidden;
	right: 50px;
	top: 100px;
	position: fixed;
	background: url(page.jpeg);
	background-size: 100%;
	width: 500px;
	padding: 20px;
	border-radius: 5px;
	color: black;
	font-size: 20px;
	min-height: 550px;
	max-height: 550px;
	overflow-y: scroll;
}

#bookInfo div, #bookInfo button, #newForm button, #newForm div {
	padding: 10px;
	background: none;
	border-style: none;
	font-size: 20px;
}

#newForm input {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background: grey;
	color: black;
	width: 400px;
	overflow: auto;
	filter: opacity(0.8);
}

#newForm {
	visibility: hidden;
}

#btnAdd {
	right: 0;
	position: fixed;
}

#btnAdd:hover {
	color: gold;
	transition: color 0.5s;
}

#header, #btnAdd, #library h1 {
	z-index: 99;
}

#library h1, #btnAdd{
	font-family: Eczar, sans-serif;
	font-size: 40px;
	padding: 2px;
	text-align: center;
	color: white;
	filter: opacity(0.7);
	text-shadow: 1px 1px 0 black;
	position: fixed;
	background: none;
	border-radius: 10px;
	border: none;
	margin: 10px;
	top: 0;
}

#books {
	margin: 100px;
	margin-top: 95px;
	margin-bottom: 20px;
}

#books p{
	display: block;
	padding: 30px;
	font-size: 36px;
	filter: brightness(90%);
	color: white;
	text-shadow: 2px 0 2px black;
	background: url(spine.jpg);
	background-size: contain;
	border-radius: 10px;
	font-family: Cormorant Unicase, serif;
}

#books p:hover {
	transition: color 0.5s;
	transition: filter 0.5s;
	filter: brightness(180%);
	color: black;
}

#header {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	background: url(wood_tex.jpg);
}

